<!DOCTYPE html>

<html lang = "en">

<head>
    <meta charset = "UTF-8">
    <meta name = "author" content = "Arshak Khoshnevis">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Authentication</title>

    <link rel = "stylesheet" href="{{ url_for('static', filename='Auth.css') }}">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel = "icon" href="{{ url_for('static', filename='blueberries.png') }}" type = "image/x-icon">
</head>

<body>
    <main>
        <div class = "container">
            <h1 class = "toph">Authenticate</h1>
            <form action="{{ url_for('login_post') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class = "input-box">
                    <i class = "fa-solid fa-user"></i>
                    <input type = "text" name = "username" id = "username" placeholder = "Enter your username" autocomplete = "username" required>
                    <i class = "fa-solid fa-eye toggle-icon" id = "togglePassword" onclick = "togglePass()"></i>
                    <input type = "password" name = "password" id = "password" placeholder = "Enter your password" autocomplete = "current-password" required>
                </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            <h3 class = "title">{{ msg }}</h3>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <button type = "submit">Login</button>
            </form>
        </div>
    </main>
    <script src="{{ url_for('static', filename='Auth.js') }}"></script>
</body>

</html>